body {
    margin: 20px;
    background-image: url("../Images/paisley.png");
    /* background-color: black;
    background:radial-gradient(#333,#000); */

    /* background-color: wheat;
    background:radial-gradient( rgb(255, 225, 185), rgb(240, 185, 151)); */
}

header {
    margin: 0 auto;
    padding: 10px;
}

.head {
    border-bottom: dashed teal;
}

#name {
    text-align: center;
    font-size: 36px;
    color: lightcoral;
    margin-bottom: -20px;
    margin-right: -50px;
    padding: 15px 30px 15px 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
}

.headerTabs a {
    display: inline-block;
    color: grey;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

.col-sm-2 {
    margin-top: 30px;
    padding-right: 40px;
}

.head {
   margin: 0 auto;
   width: 960px;
}

#main {
    border: #dddddd;
    width: 960px;
    margin: 0 auto;
}

h1 {
    color: teal;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: solid #cccccc;
    font-weight: bold;
}

#kk_img {
    width: 250px;
    border: solid black;
    margin: 20px;
}

#koda_img {
    width: 250px;
    border: solid black;
    margin: 20px;
    margin-left: 50px;
    height: 280px;
}

#koda2_img {
    width: 250px;
    border: solid black;
    margin: 20px;
    height: 280px;
}

.bio {
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    color: #777777;
}

.puppypics {
    width: 250px;
    height: 250px;
    padding-left: 5px; 
    margin-left: 0px;
    margin-top: 30px;
    border-radius: 30px 30px;
    box-shadow: lightslategrey 5px 5px 5px;
}

.projlabel {
    text-align: center;
    background-color: thistle;
    color: gray !important;
    /* font-weight: bold; */
    position: absolute;
    left: 20px;
    top: 200px;
    padding: 10px;
    /* width: 245px; */
    /* border-radius: 0px 0px 10px 10px; */
    opacity: 0;
    transition: 1s ease;
}

.projlabel2 {
    text-align: center;
    background-color: teal;
    color: white !important;
    /* font-weight: bold; */
    position: absolute;
    left: 20px;
    top: 155px;
    padding: 10px;
    /* width: 100px; */
    /* border-radius: 0px 0px 10px 10px; */
    opacity: 0;
    transition: 1s ease;
}

.col-sm-6:hover .puppypics {
    opacity: .7;
}

.col-sm-6:hover .projlabel {
    opacity: 1;
}

.col-sm-6:hover .projlabel2 {
    opacity: 1;
}


form {
    margin-left: 20px;
    margin-right: 10px;
    width: 100%;
    padding-right: 30px;
}

footer {
    background-color: #666666;
    color: white;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 12px;
}

.resLink {
    color: lightcoral;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    /* margin-left: 20px; */
}

.idk {
    background-color: white;
}

.show {
    /* color: greenyellow; */
    font-size: 60px;
    margin: 10px;
}

.know {
    color: teal;
    font-size: 30px;
    margin: 0px;
}
/* 
#js {
    font-size: 50px;
} */

.badges {
    width: 60px;
    margin: 10px;
}

#mongodb {
    width: 85px;
}

#html {
    width: 80px;
}

/* #badge {
    width: 60px;
} */

.card {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    /* background:radial-gradient( rgb(250, 230, 204), rgb(240, 185, 151)); */
}

.img-title {
    display: none;
    margin: 0px;
}

.apiHeader {
    text-align: center;
    padding-bottom: 20px;
    border-top: dashed teal;
}

#apiBox {
    text-align: center;
}

#apiH5 {
    margin-top: 10px;
}



/* .contact {
    border: 2px lightcoral;
    font-size: 18px;
    background-image: url("../Images/contact4.jpg");
} */

/* .personalResources {
    text-align: center;
    margin-top: 20px;
} */


/* .inpbox {
    width: 100%;
    padding-right: 30px;
    border: 1px dashed teal;
}

#subject {
    width: 100%;
    height: 150px;
    padding-right: 30px;
}

input[type=submit] {
    background-color: teal;
    color: white;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
} */